//dak
.dak {
    background-repeat: no-repeat;
    background-position: center center;
}
.schuin {
    background-image: url("../assets/images/dak-schuin.svg");
}
.plat {
    background-image: url("../assets/images/dak-plat.svg");
}

.mixed {
    background-image: url("../assets/images/dak-mixed.svg");
}

//bebouwing
.bebouwing {
    background-repeat: no-repeat;
    background-position: center center;
}
