// Brand
$brand: #6FA21E;

// More colors
$white: #fff;
$light: #E7E7E7;
$neutral: #ddd;
$dark: #404040;
$black: #000;

// Spacing
$gutter: 1rem;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

