@import 'reset.css';
@import 'vars';
@import 'typography';
html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: $font-size--xs;
    font-family: 'Source Sans Pro Semibold';
    color: $black;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
    color: #3B81FD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// Temp Code
#landingpage {
    display: none;
}

#qlandingpage {
    display: none;
}

#faqpage {
    display: none;
}

#contactpage {
    display: none;
}

#energytipspage {
    display: none;
}

#qcategoriesubpage {
    display: none;
}

#slidemenu {
    display: none;
}

//scss
#questionairepage {
    background-color: $grey;
    width: 100%;
    height: 100vh;
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        #menu {
            width: 50px;
            height: 50px;
            background-image: url("../images/menu.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    #questionsubpage {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: $grey-light;
        width: 100%;
        height: 50vh;
    }
    #progressbar {
        position: relative;
        background-color: $grey-dark;
        height: 10px;
        width: 100%;
        #progress {
            width: 35%;
            background-color: $green;
            height: 10px;
        }
    }
    //use flex boxes 
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        justify-content: space-around;
    }
    .flex-item {
        padding: 5px;
        width: 20px;
        height: 90px;
        margin-top: 10px;
        margin: 0;
        line-height: 90px;
        color: $grey;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        flex-grow: 1;
        font-variant: small-caps;
    }
    #answers {
        position: relative;
        width: 92%;
        height: 32vh;
        margin-left: auto;
        margin-right: auto;
        .answer-button {
            position: relative;
            width: 46%;
            height: 46%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 4%;
            background-color: $grey-dark;
            display: inline-block;
            float: left;
        }
    }
    .grow {
        flex-grow: 4;
    }
    .arrow-left {
        background-image: url("../images/arrow-left.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .arrow-right {
        background-image: url("../images/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .overview {
        background-image: url("../images/overview.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
    .info {
        background-image: url("../images/info.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px;
    }
    .question {
        font-variant: small-caps;             //check if used
    }
    #box {
        position: fixed;
        width: 100%;
        height: 50vh;
        img {
            position: absolute;
            width: 210px; //height:169px  //use liquid height?
            left: 50%;
            margin-left: -105px;
            bottom: 25vh;
            margin-bottom:-84.5px;
        }
        #label-leiedal {
            width: 69px;
            height: 27px;

            position: absolute;
            right: 15px;
            bottom: 15px;
            background-image: url("../images/partnerLogo.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}
