.answer {
	flex: 0 1 40%;
	margin: $gutter;
	padding: $gutter;
	background: $neutral;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2em;
	&>img {
		// TODO: remove background
		background: #fff;
		height: 6em;
		width: auto;
	}
	&--active {
		background: #fff;
		outline: 5px solid $brand;
	}
}

