.arrow {
	height: 3em;
	padding: 0 $gutter;
	background: none;
	border: 0;
	opacity: .6;
	&--left {
		float: left;
		margin-right: $gutter;
	}
	&--right {
		float: right;
		margin-left: $gutter;
	}
	&:focus,
	&:hover {
		opacity: 1;
		// TODO: remove background
		background: $light;
	}
	&[disabled] {
		opacity: 0;
	}
}

