.question {
	@include flexbox();
	@include flex-direction(column);
	overflow: auto;
	&__title {
		@include flex(0, 0, auto);
		position: relative;
		font-size: 1.2em;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		&>div {
			padding: 1em;
		}
	}
	&__answers {
		@include flex(1, 0, auto);
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-content(center);
		@include align-items(center);
		@include justify-content(center);
	}
}

