<!doctype html>
<html class="no-js">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="pageTitle">Leiedal questionnaire</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
</head>

<body>
    <!--<div ui-view></div>-->

    <div id="landingpage" class="test" ng-controller="LandingController as landing">
        <nav id="slidemenu" class="{{active}}" ng-click="$event.preventDefault()">
            <a href="#" ng-click="active='faq'">Veelgestelde vragen</a>
            <a href="#" ng-click="active='contact'">Contact</a>
        </nav>
        <div id="map" ng-controller="MapController as map">
            <input type="text" name="adres" placeholder="Vind mijn adres." id="adres">
            <input type="submit">
        </div>
        <div id="calculate" ng-controller="CalcOptionsController as calcoptions">
            <a href="#">Bereken uw energielabel</a>
            <a href="#">Tips</a>
        </div>
    </div>

    <!-- Questionairy landing page -->
    <div id="qlandingpage" ng-controller="QlandingController as qlanding">
        <p>qlandingpage</p>
    </div>

    <!-- Questionaire page //active//  -->
    <div id="questionairepage" ng-controller="QuestionaireController as questionaire">
        <!-- sliderMenu-->

        <!-- Header-->

        <!-- Slidemenu -->
        <nav id="slidemenu" class="{{active}}" ng-click="$event.preventDefault()" ng-controller="SidebarController as sidebar">
            <a href="#" ng-click="active='faq'">Veelgestelde vragen</a>
            <a href="#" ng-click="active='contact'">Contact</a>
        </nav>
        
        <!-- animation/illustration -->
        
        <div id="" class="illustrationbox">
            <img src="images/main_home.svg" />
            <div id="" class="label-leiedal"></div>
        </div>
        
        <!-- Questions -->
        <div id="questionsubpage" ng-controller="QuestionController as questions">

            
            <div id="" class="progressbar" ng-controller="ProgressController as progress">
                <div id="" class="progress" ></div>
            </div>
            <div id="question" ng-controller="QuestController">
                        <ul class="flex-container">
                            <li id="previous" class="flex-item arrow-left"></li>
                            <li id="overview" class="flex-item overview"></li>
                            <li id="question"class="flex-item grow">selecteer</li>
                            <li id="info"class="flex-item info"></li>
                            <li id="next"class="flex-item arrow-right"></li>
                        </ul>
            </div>
            
            <div id="" class="answers">
                <div class="answer-button dak schuin"></div>
                <div class="answer-button dak plat"></div>
                <div class="answer-button dak"></div>
                <div class="answer-button dak"></div>
                <div class="answer-button dak"></div>
                <div class="answer-button dak"></div>
            </div>

            <nav>
            <!-- Delicious burger-->
            <div id="menu" class=""></div>
        </nav>

            <div id="slider" class="slider-menu"></div>
            <div id="items" class="menu-items"></div>

            <div id="shadow" class="info-shadow"></div>
            <div id="info" class="info"></div>

        <!-- Categorie -->
        <div id="qcategoriesubpage" ng-controller="QCategorieController as categorie">
            <p>qcategoriesubpage</p>

            <div id=""></div>
        </div>

    </div>

    <!-- Frequently asked question page -->
    <div id="faqpage" ng-controller="FaqController as faq">
        <p>faqpage</p>
    </div>

    <!-- Contact page -->
    <div id="contactpage" ng-controller="ContactController as contact">
        <p>contactpage</p>
    </div>

    <!-- Energytipspage -->
    <div id="energytipspage" ng-controller="EnergytipsController as contact">
        <p>energytipspage</p>
    </div>


    <script src="js/main.js"></script>
</body>

</html>
