<!-- QUESTIONNAIRE PAGE -->

<!-- menuview -->
<div ui-view="menu"></div>

<!-- section questionnaire -->
<section id="questionnaire" ng-controller="QuestionCtrl">

    <!-- navigation -->
    <ul>
        <li id="previous">'<<'</li>

        <li id="overview">Overview</li>
        <li id="next">'>>'</li>
    <ul>

    <!-- shows currently all questions -->
    <ul ng-repeat="question in questions">
        <li>{{question.description}}</li>
    </ul>

    <!-- progressbar -->
    <div id="progressbar">
        <div id="progress">

        </div>
    </div>

    <!-- awnser -->
    <div id="awnsers">

    </div>
</section>
