<!-- QUESTIONNAIRE PAGE -->
<div id="questionairepage">
    <!-- menuview -->
    <div ui-view="menu"></div>

    <div id="" class="illustrationbox">
        <img src="images/main_home.svg" />
        <div id="" class="label-leiedal"></div>
    </div>

    <!-- animation/illustration -->
    <div id="questionsubpage">
                <div id="" class="progressbar">
                    <div id="" class="progress" ></div>
                </div>
                <div id="question">
                            <ul class="flex-container">
                                <li id="previous" class="flex-item arrow-left"></li>
                                <li id="overview" class="flex-item overview"></li>
                                <li id="question"class="flex-item grow">{{question.description}}</li>
                                <li id="info"class="flex-item info"></li>
                                <li id="next"class="flex-item arrow-right"></li>
                            </ul>
                </div>

                <div id="" class="answers" ng-repeat="answer in question.answers">
                    <div class="answer-button dak">{{answer.title}}</div>
                    <!--<div class="answer-button dak schuin"></div>
                    <div class="answer-button dak plat"></div>
                    <div class="answer-button dak"></div>
                    <div class="answer-button dak"></div>
                    <div class="answer-button dak"></div>
                    <div class="answer-button dak"></div>-->
                </div>

                <nav>
                <!-- Delicious burger-->
                <div id="menu" class=""></div>
            </nav>

                <div id="slider" class="slider-menu"></div>
                <div id="items" class="menu-items"></div>

                <div id="shadow" class="info-shadow"></div>
                <div id="info" class="info"></div>

            <!-- Categorie -->
            <div id="qcategoriesubpage">
                <p>qcategoriesubpage</p>

                <div id=""></div>
            </div>
        </div>
</div>
