<!-- CONTACT PAGE -->

<div ui-view="menu"></div>

<section id="contactpage">
    <h1>Contact</h1>
    
    <form >
        <label for="name">Naam</label>
        <input type="text" placeholder="Uw naam"><br>
        <label for="email">E-mail</label>
        <input type="text" placeholder="Uw e-mailadres"><br>
        <label for="category">Soort vraag</label>
        <select>
            <option value="energielabel">Energielabel berekenen</option>
            <option value="adrespunten">Adrespunten</option>
            <option value="tips">Tips</option>
            <option value="overig">Overig</option>
        </select><br>
        <label for="message">Bericht</label><br>
        <textarea name="message" placeholder="Uw bericht"></textarea>
    </form>
</section>
